In [ ]:
Q1

In [22]:
L=[10,20,30,40,50,60,70,80]
print(L)
L.append(200)
L.append(300)
print(L)
L.remove(10)
L.remove(30)
print(L)
L.sort()
print(L)
L.reverse()
print(L)

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

In [ ]:
Q2

In [3]:
marks=(45,89.5,76,45,4,89,92,58,45)
print(max(marks))
print(marks.index(max(marks)))
print(min(marks))
print(marks.count(min(marks)))
lists=list(marks[::-1])
print(lists)
num=int(input("enter the number --->"))
if num in marks:
    print("is present at",marks.index(num))
else:
    print("not present")

92
6
4
1
[45, 58, 92, 89, 4, 45, 76, 89.5, 45]

enter the number ---> 76

is present at 2

In [ ]:
Q3

In [35]:
import random
def isprime(num):
    for i in range(2, num // 2 + 1):
        if num % i == 0:
            return False
    return True  

def isOdd(num):
    return num % 2 != 0

def iseven(num):
    return num % 2 == 0

randomlist=[]
n=100

for i in range(n):
    randomlist.append(random.randint(100,900))

print(randomlist)

print ("the odd numbers are :")
oddcount = 0
for numbers in randomlist:
    if isOdd(numbers):
        oddcount += 1
        print("total odd numbers are",oddcount,"numbers are ",numbers)

print("the even numbers are:")
evencount = 0
for number in randomlist:
    if iseven(number):
        evencount += 1
        print("total even numbers are",evencount,"numbers are ",number)

print("the prime numbers are:")
primecount = 0
for numberr in randomlist:
    if isprime(numberr):
        primecount += 1
        print("total prime numbers are",primecount,"numbers are ",numberr)

[436, 827, 789, 198, 120, 352, 374, 579, 694, 139, 661, 103, 741, 474, 893, 820, 174, 420, 721, 711, 226, 796, 412, 215, 879, 844, 773, 867, 407, 191, 280, 248, 337, 734, 519, 585, 782, 325, 140, 186, 109, 283, 895, 506, 254, 789, 363, 226, 746, 440, 576, 407, 387, 686, 748, 430, 349, 704, 228, 434, 521, 347, 678, 105, 585, 615, 809, 332, 648, 400, 560, 421, 780, 164, 167, 682, 826, 577, 685, 285, 200, 325, 456, 404, 897, 111, 207, 777, 175, 285, 581, 119, 545, 549, 493, 424, 490, 680, 473, 391]
the odd numbers are :
total odd numbers are 1 numbers are  827
total odd numbers are 2 numbers are  789
total odd numbers are 3 numbers are  579
total odd numbers are 4 numbers are  139
total odd numbers are 5 numbers are  661
total odd numbers are 6 numbers are  103
total odd numbers are 7 numbers are  741
total odd numbers are 8 numbers are  893
total odd numbers are 9 numbers are  721
total odd numbers are 10 numbers are  711
total odd numbers are 11 numbers are  215
total odd numbers are 12 numbers are  879
total odd numbers are 13 numbers are  773
total odd numbers are 14 numbers are  867
total odd numbers are 15 numbers are  407
total odd numbers are 16 numbers are  191
total odd numbers are 17 numbers are  337
total odd numbers are 18 numbers are  519
total odd numbers are 19 numbers are  585
total odd numbers are 20 numbers are  325
total odd numbers are 21 numbers are  109
total odd numbers are 22 numbers are  283
total odd numbers are 23 numbers are  895
total odd numbers are 24 numbers are  789
total odd numbers are 25 numbers are  363
total odd numbers are 26 numbers are  407
total odd numbers are 27 numbers are  387
total odd numbers are 28 numbers are  349
total odd numbers are 29 numbers are  521
total odd numbers are 30 numbers are  347
total odd numbers are 31 numbers are  105
total odd numbers are 32 numbers are  585
total odd numbers are 33 numbers are  615
total odd numbers are 34 numbers are  809
total odd numbers are 35 numbers are  421
total odd numbers are 36 numbers are  167
total odd numbers are 37 numbers are  577
total odd numbers are 38 numbers are  685
total odd numbers are 39 numbers are  285
total odd numbers are 40 numbers are  325
total odd numbers are 41 numbers are  897
total odd numbers are 42 numbers are  111
total odd numbers are 43 numbers are  207
total odd numbers are 44 numbers are  777
total odd numbers are 45 numbers are  175
total odd numbers are 46 numbers are  285
total odd numbers are 47 numbers are  581
total odd numbers are 48 numbers are  119
total odd numbers are 49 numbers are  545
total odd numbers are 50 numbers are  549
total odd numbers are 51 numbers are  493
total odd numbers are 52 numbers are  473
total odd numbers are 53 numbers are  391
the even numbers are:
total even numbers are 1 numbers are  436
total even numbers are 2 numbers are  198
total even numbers are 3 numbers are  120
total even numbers are 4 numbers are  352
total even numbers are 5 numbers are  374
total even numbers are 6 numbers are  694
total even numbers are 7 numbers are  474
total even numbers are 8 numbers are  820
total even numbers are 9 numbers are  174
total even numbers are 10 numbers are  420
total even numbers are 11 numbers are  226
total even numbers are 12 numbers are  796
total even numbers are 13 numbers are  412
total even numbers are 14 numbers are  844
total even numbers are 15 numbers are  280
total even numbers are 16 numbers are  248
total even numbers are 17 numbers are  734
total even numbers are 18 numbers are  782
total even numbers are 19 numbers are  140
total even numbers are 20 numbers are  186
total even numbers are 21 numbers are  506
total even numbers are 22 numbers are  254
total even numbers are 23 numbers are  226
total even numbers are 24 numbers are  746
total even numbers are 25 numbers are  440
total even numbers are 26 numbers are  576
total even numbers are 27 numbers are  686
total even numbers are 28 numbers are  748
total even numbers are 29 numbers are  430
total even numbers are 30 numbers are  704
total even numbers are 31 numbers are  228
total even numbers are 32 numbers are  434
total even numbers are 33 numbers are  678
total even numbers are 34 numbers are  332
total even numbers are 35 numbers are  648
total even numbers are 36 numbers are  400
total even numbers are 37 numbers are  560
total even numbers are 38 numbers are  780
total even numbers are 39 numbers are  164
total even numbers are 40 numbers are  682
total even numbers are 41 numbers are  826
total even numbers are 42 numbers are  200
total even numbers are 43 numbers are  456
total even numbers are 44 numbers are  404
total even numbers are 45 numbers are  424
total even numbers are 46 numbers are  490
total even numbers are 47 numbers are  680
the prime numbers are:
total prime numbers are 1 numbers are  827
total prime numbers are 2 numbers are  139
total prime numbers are 3 numbers are  661
total prime numbers are 4 numbers are  103
total prime numbers are 5 numbers are  773
total prime numbers are 6 numbers are  191
total prime numbers are 7 numbers are  337
total prime numbers are 8 numbers are  109
total prime numbers are 9 numbers are  283
total prime numbers are 10 numbers are  349
total prime numbers are 11 numbers are  521
total prime numbers are 12 numbers are  347
total prime numbers are 13 numbers are  809
total prime numbers are 14 numbers are  421
total prime numbers are 15 numbers are  167
total prime numbers are 16 numbers are  577

In [ ]:
Q4

In [58]:
A={34,56,78,90}
B={78,45,90,23}

uniquescore=A.union(B)

print("the union of A and B is --->",uniquescore)

commonscore=A.intersection(B)
print("the intersection of A and B is --->",commonscore)

sdifference=A.symmetric_difference(B)
print("the symmetric difference of A and B is --->",sdifference)

subset=A.issubset(B)
superset=B.issuperset(A)
print("Is A subset of B--->",subset)
print("Is B superset of A--->",superset)

x=int(input("enter a score from set A --->"))
if x in A:
    A.remove(x)
    print("updated score of A is --->",A)
else:
    print("x is not present in A")

the union of A and B is ---> {34, 45, 78, 23, 56, 90}
the intersection of A and B is ---> {90, 78}
the symmetric difference of A and B is ---> {34, 45, 23, 56}
Is A subset of B---> False
Is B superset of A---> False

enter a score from set A ---> 78

updated score of A is ---> {56, 34, 90}

In [ ]:
Q5

In [63]:
biodata = {
    "name": "surendra",
    "age": 20,
    "salary": 2800000,
    "city": "bengaluru"
}

biodata["location"] = biodata.pop("city")

print(biodata)

{'name': 'surendra', 'age': 20, 'salary': 2800000, 'location': 'bengaluru'}