In [ ]:
Q1,2,3

In [13]:
import pandas as pd

data = {
    'Tid': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Refund': ['Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No'],
    'Maritial status': ['Single', 'Married', 'Single', 'Married', 'Divorced', 'Married', 'Divorced', 'Single', 'Married', 'Single'],
    'Taxable Income (in K)': [125, 100, 70, 120, 95, 60, 220, 85, 75, 90],
    'Cheat': ['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No']
}

df = pd.DataFrame(data)
print(df)
specific_row = df.iloc[[0,4,7,8]]
print(specific_row)

print(df.iloc[3:8])
print(df.iloc[4:9,2:5])
print(df.iloc[:,1:4])

   Tid Refund Maritial status  Taxable Income (in K) Cheat
0    1    Yes          Single                    125    No
1    2     No         Married                    100    No
2    3     No          Single                     70    No
3    4    Yes         Married                    120    No
4    5     No        Divorced                     95   Yes
5    6     No         Married                     60    No
6    7    Yes        Divorced                    220    No
7    8     No          Single                     85   Yes
8    9     No         Married                     75    No
9   10     No          Single                     90    No
   Tid Refund Maritial status  Taxable Income (in K) Cheat
0    1    Yes          Single                    125    No
4    5     No        Divorced                     95   Yes
7    8     No          Single                     85   Yes
8    9     No         Married                     75    No
   Tid Refund Maritial status  Taxable Income (in K) Cheat
3    4    Yes         Married                    120    No
4    5     No        Divorced                     95   Yes
5    6     No         Married                     60    No
6    7    Yes        Divorced                    220    No
7    8     No          Single                     85   Yes
  Maritial status  Taxable Income (in K) Cheat
4        Divorced                     95   Yes
5         Married                     60    No
6        Divorced                    220    No
7          Single                     85   Yes
8         Married                     75    No
  Refund Maritial status  Taxable Income (in K)
0    Yes          Single                    125
1     No         Married                    100
2     No          Single                     70
3    Yes         Married                    120
4     No        Divorced                     95
5     No         Married                     60
6    Yes        Divorced                    220
7     No          Single                     85
8     No         Married                     75
9     No          Single                     90

In [ ]:
Q4,5

In [17]:
import pandas as pd
df = pd.read_csv('iris.csv')
df.head()

df.drop(4,axis=0,inplace=True)
df.drop(df.columns[3],axis=1,inplace=True)
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalWidthCm         Species
0      1            5.1           3.5           0.2     Iris-setosa
1      2            4.9           3.0           0.2     Iris-setosa
2      3            4.7           3.2           0.2     Iris-setosa
3      4            4.6           3.1           0.2     Iris-setosa
5      6            5.4           3.9           0.4     Iris-setosa
..   ...            ...           ...           ...             ...
145  146            6.7           3.0           2.3  Iris-virginica
146  147            6.3           2.5           1.9  Iris-virginica
147  148            6.5           3.0           2.0  Iris-virginica
148  149            6.2           3.4           2.3  Iris-virginica
149  150            5.9           3.0           1.8  Iris-virginica

[149 rows x 5 columns]

In [ ]:
Q6

In [20]:
data=pd.DataFrame({
    "Employee id":[101,102,103,104,105],
    "Name":["Alice","Bob","Charlie","Diana","Edward"],
    "Department":["HR","IT","IT","Marketing","Sales"],
    "Age":[29,34,41,28,38],
    "Salary":[50000,70000,65000,55000,60000],
    "Years_Of_Experience":[4,8,10,3,12],
    "Joining_Date":["2020-03-15","2017-07-19","2013-06-01","2021-02-10","2010-11-25"],
    "Gender":["Female","Male","Male","Female","Male"],
    "Bonus":[5000,7000,6000,4500,5000],
    "Rating":[4.5,4.0,3.8,4.7,3.5]
})
print(data)

print(data.shape)
print(data.info())
print(data.describe())

print(data.head(5))
print(data.tail(3))

avg=data["Salary"].mean()
print(avg)

bonus=data["Bonus"].sum()
print(bonus)

y=data["Age"].min()
print(y)

rat=data["Rating"].max()
print(rat)

sorted=data.sort_values(by="Salary",ascending=False)
print(sorted.head())

def category(rating):
  if(rating>=4.5):
    return "Excellent"
  elif (rating>=4.0 and rating<4.5):
    return "Good"
  else:
    return "Average"

data["Performance"]=data["Rating"].apply(category)
print(data.head())

miss=data.isnull()
print(miss)

data.rename(columns={"Employee id":"ID"},inplace=True)
print(data.head())

print(data["Years_Of_Experience"]>5)
print(data["Department"]=="IT")

filtered_data = data[(data["Years_Of_Experience"] > 5) & (data["Department"] == "IT")]
print(filtered_data)

data ["Tax"]=data["Salary"]*0.10
print(data.head())

data.to_csv("ans.csv",index=False)

   Employee id     Name Department  Age  Salary  Years_Of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
(5, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee id          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_Of_Experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes
None
       Employee id        Age       Salary  Years_Of_Experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000
   Employee id     Name Department  Age  Salary  Years_Of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
   Employee id     Name Department  Age  Salary  Years_Of_Experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5
60000.0
27500
28
4.7
   Employee id     Name Department  Age  Salary  Years_Of_Experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5
   Employee id     Name Department  Age  Salary  Years_Of_Experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating Performance
0   2020-03-15  Female   5000     4.5   Excellent
1   2017-07-19    Male   7000     4.0        Good
2   2013-06-01    Male   6000     3.8     Average
3   2021-02-10  Female   4500     4.7   Excellent
4   2010-11-25    Male   5000     3.5     Average
   Employee id   Name  Department    Age  Salary  Years_Of_Experience  \
0        False  False       False  False   False                False
1        False  False       False  False   False                False
2        False  False       False  False   False                False
3        False  False       False  False   False                False
4        False  False       False  False   False                False

   Joining_Date  Gender  Bonus  Rating  Performance
0         False   False  False   False        False
1         False   False  False   False        False
2         False   False  False   False        False
3         False   False  False   False        False
4         False   False  False   False        False
    ID     Name Department  Age  Salary  Years_Of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance
0  Female   5000     4.5   Excellent
1    Male   7000     4.0        Good
2    Male   6000     3.8     Average
3  Female   4500     4.7   Excellent
4    Male   5000     3.5     Average
0    False
1     True
2     True
3    False
4     True
Name: Years_Of_Experience, dtype: bool
0    False
1     True
2     True
3    False
4    False
Name: Department, dtype: bool
    ID     Name Department  Age  Salary  Years_Of_Experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01

  Gender  Bonus  Rating Performance
1   Male   7000     4.0        Good
2   Male   6000     3.8     Average
    ID     Name Department  Age  Salary  Years_Of_Experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance     Tax
0  Female   5000     4.5   Excellent  5000.0
1    Male   7000     4.0        Good  7000.0
2    Male   6000     3.8     Average  6500.0
3  Female   4500     4.7   Excellent  5500.0
4    Male   5000     3.5     Average  6000.0