In [ ]:
Python assignment 
Surendra 102317040

In [ ]:
A 1.1

In [18]:
# program to print my name 
print("surendra")
print("surendra")
print("surendra")

surendra
surendra
surendra

In [ ]:
A 2.1

In [24]:
# program to add three numbers
a=10
b=20
c=30
d=a+b+c
print(a,"+",b,"+",c ,"-->",d)

10 + 20 + 30 --> 60

In [ ]:
A 2.2

In [32]:
#program to concatinate three strings
d="Python "
e="is "
f="easy"
g=d+e+f

print(d,"+",e,"+",f ,"-->",g)

Python  + is  + easy --> Python is easy

In [ ]:
A 4.1

In [41]:
# program to print the table of 7
for i in range(1,11):
    print( 7,"*",i,"=",i*7 )

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
A 4.2

In [54]:
#program to print the table of given input
n=int(input( "Enter the n --->" ) ) 
for i in range(1,11):
    print( n,"*",i,"=",i*n )

Enter the n ---> 29

29 * 1 = 29
29 * 2 = 58
29 * 3 = 87
29 * 4 = 116
29 * 5 = 145
29 * 6 = 174
29 * 7 = 203
29 * 8 = 232
29 * 9 = 261
29 * 10 = 290

In [ ]:
A 4.3

In [50]:
n=int(input( "Enter the n --->" ) )
sum=0
for i in range(1,n+1):
    sum=sum+i

print("sum is --->",sum )

Enter the n ---> 100

sum is ---> 5050

In [ ]:
A 5.1

In [11]:
#program to find max element
a = int(input("Enter First No: "))
b = int(input("Enter Second No: ")) 
c = int(input("Enter Third No: "))
print("the biggest number is---> ", max(a,b,c))

Enter First No:  11
Enter Second No:  22
Enter Third No:  33

the biggest number is--->  33

In [ ]:
A 5.2

In [22]:
#program to add numbers divisible by 7 and 9
sum=0
n=int(input("Enter the n :"))
for i in range(1,n+1):
    if i % 7 == 0 and i % 9 == 0:
        sum=sum+i

print("the sum of numbers divisible 7 and 9 is",sum)

Enter the n : 101

the sum of numbers divisible 7 and 9 is 63

In [ ]:
A 5.3

In [44]:
sum = 0
n = int(input("Enter the n: "))
for num in range(2, n + 1):
    is_prime = True
    for i in range(2, num // 2 + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        sum += num

print("The sum of all prime numbers from 1 to", n, "is --->", sum)

Enter the n:  100

The sum of all prime numbers from 1 to 100 is ---> 1060

In [ ]:
A 6.1

In [40]:
#program to calculate sum of odd numbers from 1 to n
n = int(input("Enter the n: "))
sum=0
def isOdd(num):
    return num % 2 != 0
for i in range(1, n + 1):
    if isOdd(i):
        sum += i

print("The sum of all odd number from 1 to", n, "is --->", sum)

Enter the n:  100

The sum of all odd number from 1 to 100 is ---> 2500

In [ ]:
A 6.2

In [42]:
# Program to add all prime numbers
sum = 0
n = int(input("Enter the n: "))
def isprime(num):
    if num < 2:
        return False
    for i in range(2, num // 2 + 1):
        if num % i == 0:
            return False
    return True  

for i in range(1, n + 1):
    if isprime(i):
        sum += i

print("The sum of all prime numbers from 1 to", n, "is --->", sum)

Enter the n:  100

The sum of all prime numbers from 1 to 100 is ---> 1060